* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #f7f6f6;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 07);
}

li {
  list-style: none;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background-color: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: rgb(76, 51, 152);
  background-color: rgb(255, 211, 0);
  cursor: pointer;
}

.btns:hover {
  background-color: rgb(76, 51, 152);
  color: rgb(255, 211, 0);
}
